html
  head
     link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
     link(rel='stylesheet' type='text/css' href='estilos.css')
     meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
     meta(charset='utf-8')
     title=title
  body
    section#globalConainer

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
script(src='app.js')
script(src='three.min.js')
script(id="perlin" src='perlin.js')
script(src='demo5.js')
script(src='functionLanding.js')
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC14JqhfxOul1btG9taYnHfmlxffKDoz9I&callback=initMap" )
script(async src='firebase.js')



//- script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit.min.js')
