<div id="secciones">
	<div id="seccion1" class="seccion">
		<div class="row tular">
			<div class="col l6 m6 s12 titu imgben">
				<!-- <div id="logos"></div> -->
				<img src="./ben.png" width="276">
			</div>
			<div class="col l6 m6 s12 titu">
				<div id="cta"></div>
			</div>
		</div>

		<link rel="icon" type="image/png" href="favico.ico"/>
		<link rel="shortcut icon" href="favico.png" type="image/x-icon" />

		<div id="bolckchain">

		</div>


	</div>
	<div id="seccion2" class="seccion">
		<div id="quEs" class="sombra">
			<div class="row filita">
				<div class="col l12 s12 queEs" id="qes">
					<h6 class="titul" style="margin-top: 30px !important;">¿Que es BEN Colombia?</h6>
					<p id="parf" class="subtil">Blockchain Education Network (BEN) es una organización creada a principios de 2014 por la unión de "Bitcoin Club" Stanford, MIT y la Universidad de Michigan con presencia en todos los continentes. A principios del 2017, BEN aterrizó en Colombia y de esta forma nace Blockchain Education Network Colombia con el objetivo difundir las propiedades, ventajas y aplicaciones de la tecnología Blockchain y Bitcoin a través de la educación, el desarrollo de proyectos y la experimentación continua de nuevas aplicaciones basadas en estas tecnologías.</p>
				</div>
			</div>

		</div>
	</div>




	<div class="seccion" id="seccion10">
		<div class=" col l12 pilares">

					<h6 class="titul">Nuestros pilares</h6>

					<div class="ipil">
						<p class="subtil negra">Promover</p>
						<img height="65" src="./promover.png">
						<p class="subtil itemsub">espacios de difusión, que permitan el conocimiento de la tecnología Blockchain y sus aplicaciones. </p>
					</div>

					<div class="ipil">
						<p class="subtil negra">Difundir</p>
						<img height="65" src="./difundir.png">
						<p class="subtil itemsub">las propiedades y ventajas de la tecnología Blockchain.</p>
					</div>

					<div class="ipil">
						<p class="subtil negra">Crear</p>
						<img  height="65" src="./crear.png">
						<p class="subtil itemsub">redes directas con diferentes actores, que fomente el desarrollo de proyectos Blockchain.</p>
					</div>

				</div>
	</div>

	<div id="seccion3" class="seccion" >
		<div class="row" >

			<div class="col s12 m12 l12">
			<h6 class="titul">Lo que hacemos en Blockchain Education Network Colombia</h6>

			</div>
		</div>

		<div class="row hacemos">
			<div class="col l4 m12 s12" id="quehace">
				<h5 class="subtil">A donde queremos llegar</h5>
				<p class="paraf">
					Blockchain, cuya aplicación más popular es el Bitcoin, es una nueva tecnología
					que tiene el potencial de cambiar radical y permanentemente el mundo profesional
					y nuestra vida cotidiana
					<br><br>Por esta razón en Blockchain Education Network Colombia siempre estamos en cumplimiento de nuestros objetivos que nos permitan  generar un gran impacto con la tecnología Blockchain en Colombia. Por tal motivo queremos llegar a diferentes espacios tanto educativos como empresariales que nos faciliten avanzar en el cumplimiento de nuestras metas.</p>
			</div>

			<div class="col l8 m12 s12" id="events">



			 <div class="carousel borde" id="caRou">

			 <a class="waves-effect sombra" id="adelante" onclick="adelante();"><p> > </p></a>
			 <a class="waves-effect sombra" id="atras" onclick="atras();"><p > < </p></a>

			 <div id="contEv">
				 <div class="carSeccion mascaraa">

				 		<div class="conteSections" id="contSection">

						</div>

				 </div>
			 </div>

			  </div>
			</div>
		</div>
	</div>


	<!-- <div id="seccion4" class="seccion ">
		<div class="row tituAgenda borde1">
			<div class="col l12 m12 s12 noMargin fondoAg">
			<h5 class="noMargin subtil " style="color: white !important;">Agéndate</h5>
			</div>
		</div>
		<div class="row fullW">
			 <div class="col s12" >
				      <ul class="tabs sombra" id="fechas">

				      </ul>
			 </div>
		</div>
		<div class="row fullW detaEven sombra">
			<div class="col l12 m12 s12 sinPadding" id="eventico">
				  </div>
			</div>
		</div> -->




		<div class="row sinMargin">
				<div class="col s12 m12 l12 comtitu">
				<h6 class="titul">La comunidad más activa.</h6>
				</div>
		</div>


		<div id="seccion5" class="seccion">

		<video src="ben.mp4" class="videoCom" autoplay loop muted="false" poster="poster.jpg"></video>

			<div class="row fullW fullH videoC">

				<div class="col l6 m6 s12  fullH twitter" id="twittear">
					<!-- <div class="col tweet white sombra" id="tweet">
						<div class="picT sombra"></div>
						<div class="icoT"><i class="fa fa-twitter" aria-hidden="true"></i></div>

						<div class="row infoC">
							<div class="textNombre col l12 subtil">Nombre Completo</div>
							<div class="textTwitter col l12 paraf">@twitter</div>
						</div>
						<div class="row infoD borde3">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							<div class="textTDesc col l12 subtil">Titu desc</div>
							<div class="textDesc col l12 paraf cursiva">@descripción</div>
						</div>

					</div> -->

				</div>
				<div class="col l6 m6 s12 fullH conVideo">

						<video src="beni.mp4" class="videoNa" id="mivideo" autoplay loop muted poster="poster.jpg"></video>


				</div>

			</div>

		</div>




		<div id="seccion6" class="seccion">

			<div class="row margen">
				<div class="col l12 sinPadding">
					<h6 class="titul" style="font-size: 22px;">Entérate de lo nuevo</h6>
					<h6 class="subtil" style="font-size: 15px; font-weight: normal; margin: 20px;">Nuestra dedicación es constante y en BEN siempre estamos contándote algo nuevo</h6>
					<div class="separador col l12"></div>
				</div>
			</div>

			<div class="row sinMargin " id="cblog" style="padding:30px;">

				<div class="col l6 s12  post1c">
					<div class="col l12 post1 " id="post1">


					</div>
				</div>
				<div class="col l6 s12 postsc" id="posts">


				</div>
			</div>

		</div>


		<div class="seccion" id="superSeccion">


			<div class="seccion" id="seccion7">
				<div class="backSeccion7"></div>
				<div class="row" style="position: relative;">

					<div class="col l6 s12">
						<div class="benin">
							<p style="color: white !important; text-align: center !important;">Conoce más sobre BEN INTERNACIONAL</p>
							<a class="waves-effect waves-light btn btne2" target="_blank" href="https://blockchainedu.org/">BEN INTERNACIONAL</a>
						</div>
					</div>

					<div class="col l6 s12 suscri">
						<p>¿Que esperas?, sigue conectado con nosotros y descubre todo lo que BEN puede ofrecerte</p>
						<div class="suscribete">
							<div class="input-field col s12">
					          <input id="last_name" type="text" class="validate">
					          <label for="last_name">Correo Electrónico</label>
					        </div>
					        <a class="waves-effect waves-light btn btne" onclick="enviarMail()" >Enviar</a>
						</div>
					</div>
				</div>
			</div>



			<div class="seccion" id="seccion8">
			<div class="backendF8"></div>

				<div class="row sinMargin allint">


					<div class="col l12 titul center-align margen2"> Conócenos un poco mas de cerca... </div>

					<div class="col l6 s12 integrantes fullH ">

						<div class="col12 jerar1 ">



							<div class="member " id="member1">
					    				<div class="picSpeaker jorge pictureU" id="picSpeaker1" onclick="member(1);"></div>
					    				<div class="infSpeaker">
					    					<div class="col l12 center paraf namS cargo">JORGE PEREZ
					    						<span class="col l12 center subtil empS cargo">Fundador </span>
					    					</div>
					    				</div>
							</div>

							<div class="member " id="member2">
					    				<div class="picSpeaker jairo pictureU" id="picSpeaker2" onclick="member(2);"></div>
					    				<div class="infSpeaker">
					    					<div class="col l12 center paraf namS cargo">JAIRO QUINTERO
					    						<span class="col l12 center subtil empS cargo">Co-Fundador </span>
					    					</div>
					    				</div>
							</div>
						</div>




						<div class="col12 jerar2 ">

							<div class="member2 look" id="member3">
								<div class="picSpeaker pictureU andres" id="picSpeaker3" onclick="member(3);"></div>
					    				<div class="infSpeaker">
					    					<div class="col l12 center paraf namS cargo2">ANDRÉS GUEVARA
					    						<span class="col l12 center subtil empS cargo2">Product Designer</span>
					    					</div>
					    				</div>
							</div>

							<div class="member2 look" id="member4">
								<div class="picSpeaker pictureU leonardo" id="picSpeaker4" onclick="member(4);"></div>
					    				<div class="infSpeaker">
					    					<div class="col l12 center paraf namS cargo2">LEONARDO MARTÍNEZ
					    						<span class="col l12 center subtil empS cargo2">Analista Blockchain</span>
					    					</div>
					    				</div>
							</div>

							<div class="member2 look" id="member5">
								<div class="picSpeaker pictureU jona" id="picSpeaker5" onclick="member(5);"></div>
					    				<div class="infSpeaker">
					    					<div class="col l12 center paraf namS cargo2">JHONATHAN HIGUERA
					    						<span class="col l12 center subtil empS cargo2">Analista Blockchain</span>
					    					</div>
					    				</div>
							</div>


						</div>



					</div>


					<div class="col l6 s12 intePerfil fullH">
						<div class="clienzo borde fullH sinMargin">
							<div class="lienzo fullH mascaras">
								<div class="integrante hide" id="epa1">

									<div class="member2 look">
										<div class="picSpeaker pictureU picActivado jorge"></div>
							    				<div class="infSpeaker">
							    					<div class="col l12 center paraf namS cargo2">JORGE PEREZ
							    						<span class="col l12 center subtil empS cargo2">Fundador.</span>
							    					</div>
							    				</div>
									</div>

									<div class="fullW sobremi ">

										<p class="paraf" >Profesional en Gobierno y Relaciones Internacionales de la Universidad Externado de Colombia,
										con énfasis en Estudios Políticos y Asuntos Internacionales. Es
 										el fundador del capítulo regional Blockchain Education Network Colombia. Gran entusiasta de la tecnología blockchain y sus aplicaciones en los diferentes sectores de la sociedad.

										"creo que con la tecnología blockchain estamos ante una nueva revolución, la revolución de la confianza" jorge@blockchainedu.co </p>

										<div class="redSocial">
											<div class="icons">
													<a href="https://twitter.com/@Jorgep190"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													<a href="https://www.linkedin.com/in/jorge-pérez-4653493a/"  target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>

								</div>


								<div class="integrante hide" id="epa2">

										<div class="member2 look">
										<div class="picSpeaker pictureU picActivado jairo"></div>
							    				<div class="infSpeaker">
							    					<div class="col l12 center paraf namS cargo2">JAIRO QUINTERO
							    						<span class="col l12 center subtil empS cargo2">Co-Fundador</span>
							    					</div>
							    				</div>
									</div>

									<div class="fullW sobremi " style="padding: 0 !important;">

										<p class="paraf" >Profesional en Finanzas y Relaciones Internacionales de la Universidad Externado de Colombia, con énfasis en finanzas corporativas. Emprendedor con sello Fondo Emprender y, como apasionado del mundo corporativo, es gran entusiasta de la tecnología blockchain por el potencial que tiene para mejorar la transparencia y la eficiencia en las organizaciones. Se ha desempeñado como consultor en temas financieros de empresas del sector de juegos de suerte y azar y en temas de formulación y evaluación de proyectos.  jairo@blockchainedu.co</p>

										<div class="redSocial">
											<div class="icons">
													<a href="https://twitter.com/@Jairoquint"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													<a href="https://www.linkedin.com/in/jorge-pérez-4653493a/"  target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>

								</div>





								<div class="integrante hide" id="epa3">

										<div class="member2 look">
										<div class="picSpeaker pictureU picActivado andres"></div>
							    				<div class="infSpeaker">
							    					<div class="col l12 center paraf namS cargo2">ANDRÉS GUEVARA
							    						<span class="col l12 center subtil empS cargo2">Product Designer.</span>
							    					</div>
							    				</div>
										</div>

									<div class="fullW sobremi" style="padding: 0 !important;">

										<p class="paraf hablalo">Diseñador UI/UX, Fullstack Developer Javascript, Developer Internet of Things(IoT). Estamos en un momento único en la historia humana sin precedentes, multiples tecnologías de disrupción masiva están dando paso a la cuarta revolución tecnológica y Blockchain es una de estas, vamos hacia un mundo más descentralizado y transparente, donde los procesos electorales, compras públicas, asignación de recursos públicos, registros civiles, contratos inteligentes con aplicaciones para todas las industrias, registros de títulos de valor, historias clínicas, procesos de auditoría… no habrá ningún sector que no sea tocado por la tecnología Blockchain.  soporte@blockchainedu.co</p>

										<div class="redSocial">
											<div class="icons">
													<a  target="_blank" href="https://www.facebook.com/profile.php?id=100011377665845"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
													<a href="https://www.behance.net/construyac9b6d"  target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
													<a href="https://github.com/construyacol"  target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>

								</div>



								<div class="integrante hide" id="epa4">

										<div class="member2 look">
										<div class="picSpeaker pictureU picActivado leonardo"></div>
							    				<div class="infSpeaker">
							    					<div class="col l12 center paraf namS cargo2">LEONARDO MARTÍNEZ
							    						<span class="col l12 center subtil empS cargo2">Analista Blockchain</span>
							    					</div>
							    				</div>
										</div>

									<div class="fullW sobremi ">

										<p class="paraf">Estudiante de la Universidad Del Valle Sede Tuluá del programa académico de Tecnología de Sistemas de Información y Contador Público de la misma, enfocado en investigación, desarrollo y difusión de productos digitales especializados en el sector Fintech, buscando principalmente crear y/u ofrecer nuevos servicios financieros especializados y soportados bajo la cadena de bloques, que van a permitir crear e innovar en nuevas formas de generación de riqueza y valor en la economía digital.</p>

										<div class="redSocial">
											<div class="icons">
													<i class="fa fa-facebook-square" aria-hidden="true"></i>
													<i class="fa fa-twitter" aria-hidden="true"></i>
													<i class="fa fa-linkedin-square" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>



								<div class="integrante hide" id="epa5">

										<div class="member2 look">
										<div class="picSpeaker pictureU picActivado jona"></div>
							    				<div class="infSpeaker">
							    					<div class="col l12 center paraf namS cargo2">JHONATHAN HIGUERA
							    						<span class="col l12 center subtil empS cargo2">Analista Blockchain</span>
							    					</div>
							    				</div>
										</div>

									<div class="fullW sobremi ">

										<p class="paraf">Trabaja en el desarrollo de modelos de valoracion de ICO's. Se especializa en las aplicaciones de Blockchain en el sistema financiero, principalmente como sistema transaccional.<br><br>

										Es consultado por los principales medios de comunicación de Colombia sobre criptomonedas y Blockchain. </p>

										<div class="redSocial">
											<div class="icons">
													<a href="https://twitter.com/@jhahigueraro"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													<a href="https://www.linkedin.com/in/jhahigueraro/"  target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>

								</div>







							</div>
						</div>
					</div>


				</div>
			</div>

		</div>
		<div class="seccion" id="seccion9">
			<div class="backendF"></div>
			<div class="seccion" id="footer">
			<div class="row sinMargin conteFooter" style="position: relative;">
				<div class="col l3  fullH logoback" style="padding: 0 15px; "><img src="./ben.png" width="172" height="230"></div>

				<div class="col l3  fullH logoback" style="padding: 0 15px; "><img src="./benint.png" width="190" height="230"></div>


				<div class="col l3  fullH center">
					<p class="tituls">Somos una fundación sin animo de lucro</p>
					<p class="titul">Contáctanos</p>
					<div class="icons" style="font-size: 25px !important;">
						<a href="https://www.facebook.com/ColombiaBen/" target="_blank">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</a>
						<a href="https://twitter.com/ColombiaBen?lang=es" target="_blank">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="https://www.linkedin.com/company/blockchain-education-network-colombia/" target="_blank">
							<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						</a>
					</div>
					<p class="subtil">Correo: hablemos@blockchainedu.co</p>
					<!-- <p class="subtil">Teléfono: 555-5555</p> -->
				</div>
				<div class="col l3  fullH right">
					<!-- <p class="titul">TITULO ENCABEZADO</p> -->
					<p class="subtil" style="margin-top: 30px !important;">Tu aporte es importante para nosotros. <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/1.png" width="20"> </p>
					<img src="qr.jpg" width="150px" height="150px">
				</div>

			</div>
			</div>
		</div>





	</div>
